<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <% listaProdutos.map(function(value, index) { %>
                <div class="col mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" src="img/produtos/<%=value.produtoImagem %>"
                            alt="Imagem do produto" />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <div class="d-flex justify-content-center small mb-2">
                                    <%= value.marcaNome %>
                                </div>
                                <h5 class="fw-bolder">
                                    <%= value.produtoNome %>
                                </h5>
                                <div class="d-flex justify-content-center small mb-2">
                                    <%= // value.categoriaNome %>
                                </div>

                                R$ <%= value.valorVenda %>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <button data-produto="<%= value.produtoId %>" class="btn btn-semear mt-auto addCar">
                                    <i class="bi-cart-fill me-1"></i>
                                    Adicionar ao carrinho
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

</section>
<div class="modal" id="modalConfirmacao" data-bs-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header btn-semear text-white">
        <h5 class="modal-title" id="confirmTitulo">Carrinho</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p id="confirmMensagem">Pedido Finalizado com Sucesso!</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-semear" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/ecommerce/ecommerce.js"></script>