<script src="/js/pessoa/gerenciarPessoa.js"></script>
<div class="d-flex">
    <aside class="sidebar d-flex flex-column">
        <ul class="nav flex-column flex-grow-1">
            <li class="nav-item">
                <a class="nav-link" href="../admin"><i class="fa-solid fa-house fa-fw"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../ordemServico/criar"><i class="fa-solid fa-clipboard-list fa-fw"></i>Criar OS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../ordemServico/listar"><i class="fa-solid fa-clipboard-list fa-fw"></i>Listar OS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/produto"><i class="fa-solid fa-boxes-stacked fa-fw"></i>Produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../servico"><i class="fa-solid fa-list fa-fw"></i> Serviços</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../equipamento"><i class="fa-solid fa-wrench fa-fw"></i> Equipamentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../marca"><i class="fa-solid fa-tags fa-fw"></i> Marcas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#"><i class="fa-solid fa-user fa-fw"></i> Pessoas </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../funcionario"><i class="fa-solid fa-user fa-fw"></i> Funcionários</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/relatorio"><i class="fa-solid fa-folder-open fa-fw"></i> Relatorios</a>
            </li>
            <hr />
            <li class="nav-item">
                <a class="nav-link" href="../login/logout"><i class="fa-solid fa-power-off fa-fw"></i> Sair</a>
            </li>
        </ul>
    </aside>
    <div class="container-fluid flex-grow-1 p-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="text-uppercase text-green100">Pessoas</h1>
            <a href="#" class="btn btn-success text-uppercase bg-green200" data-bs-toggle="modal"
                data-bs-target="#modalPessoa"><i class="fa-solid fa-plus"></i> Novo</a>
        </div>
        <hr>
        <div class="table-responsive" style="margin-top: 15px;">
            <table class="table table-striped table-hover text-uppercase">
                <thead>
                    <tr>
                        <th>Nome/ Nome Fantasia</th>
                        <th>Telefone</th>
                        <th>CPF/CNPJ</th>
                        <th>Email</th>
                        <th>Cliente</th>
                        <th>Fornecedor</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% listaPessoa.map(function(pessoa) { %>
                        <tr>
                            <td><%= pessoa.nome %></td>
                            <td><%= pessoa.telefone %></td>
                            <td><%= pessoa.documento %></td>
                            <td class="text-lowercase"><%= pessoa.email %></td>
                            <td class="text-center">
                                <% if(pessoa.ehCliente == 1) { %>
                                    <i class="fa-solid fa-check text-success"></i>
                                <% } else { %>
                                    <i class="fa-solid fa-xmark text-danger"></i>
                                <% } %>
                            </td>
                            <td class="text-center">
                                <% if(pessoa.ehFornecedor == 1) { %>
                                    <i class="fa-solid fa-check text-success"></i>
                                <% } else { %>
                                    <i class="fa-solid fa-xmark text-danger"></i>
                                <% } %>
                            </td>
                            <td>
                                <button class="btn btn-primary btnAlteracao" data-id="<%= pessoa.pessoaId %>" data-tipo="<%= pessoa.tipo %>">
                                    <i class="fas fa-pen"></i>
                                </button>
                                <button class="btn btn-danger btnExclusao" data-id="<%= pessoa.pessoaId %>" data-nome="<%= pessoa.nome %>">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="modalPessoa">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase text-green100 text-center w-100 fs-3">Cadastro de Pessoas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container mt-3">
                            <span class="text-danger" id="msg-checkPessoa"></span>
                            <div class="form-check mb-3">
                                <input class="form-check-input border border-2 border-primary" type="checkbox"
                                    id="checkedPF" checked>
                                <label class="form-check-label" for="checkedPF" id="lb-checkedPF">Pessoa Física</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input border border-2 border-primary" type="checkbox"
                                    id="checkedPJ">
                                <label class="form-check-label" for="checkedPJ" id="lb-checkedPJ" >Pessoa Jurídica</label>
                            </div>
                            <div id="camposPF" >
                                <h5 class="mt-3">Dados Pessoa Física</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control text-uppercase" id="nome" placeholder="Nome" required>
                                            <label for="nome">Nome Completo</label>
                                            <span class="text-danger" id="msg-nome"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="cpf" placeholder="CPF" maxlength="14" required>
                                            <label for="cpf">CPF</label>
                                            <span class="text-danger" id="msg-cpf"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-floating mb-3">
                                            <input type="date" class="form-control" id="dtNascimento" name="dtNascimento" placeholder="Data de Nascimento" required>
                                            <label for="dtNascimento">Data de Nascimento</label>
                                            <span class="text-danger" id="msg-dtnascimento"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="camposPJ" style="display:none;">
                                <h5 class="mt-3">Dados Pessoa Jurídica</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="cnpj" placeholder="CNPJ" required>
                                            <label for="cnpj">CNPJ</label>
                                            <span class="text-danger" id="msg-cnpj"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control text-uppercase" id="razaoSocial" placeholder="Razão Social" required>
                                            <label for="razaoSocial">Razão Social</label>
                                            <span class="text-danger" id="msg-razao"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control text-uppercase" id="nomeFantasia" placeholder="Nome Fantasia" required>
                                    <label for="nomeFantasia">Nome Fantasia</label>
                                    <span class="text-danger" id="msg-fantasia"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-floating mb-3">
                                        <input type="tel" class="form-control" id="telefone" placeholder="Telefone" required>
                                        <label for="telefone">Celular</label>
                                        <span class="text-danger" id="msg-telefone"></span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control text-lowercase" id="email" placeholder="Email" required>
                                        <label for="email">Email</label>
                                        <span class="text-danger" id="msg-email"></span>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <h5 class="mt-4">Endereço</h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="cep" placeholder="CEP" maxlength="9" required>
                                        <label for="cep">CEP</label>
                                        <span class="text-danger" id="msg-cep"></span>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="logradouro" placeholder="Logradouro / Rua" required>
                                        <label for="logradouro">Logradouro / Rua</label>
                                        <span class="text-danger" id="msg-logradouro"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="numero" placeholder="Número" required>
                                        <label for="numero">Número</label>
                                        <span class="text-danger" id="msg-numero"></span>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="bairro" placeholder="Bairro" required>
                                        <label for="bairro">Bairro</label>
                                        <span class="text-danger" id="msg-bairro"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="cidade">
                                            <option value="" selected disabled> Cidade</option>
                                            <% listaCidade.map(function(cidade){ %>
                                                <option value=" <%= cidade.cidadeId %>"><%= cidade.cidade%></option>
                                            <%}) %>
                                        </select>
                                        <span class="text-danger" id="msg-cidade"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="uf">
                                            <option value="" selected disabled> UF</option>
                                            <% listaUf.map(function(uf){ %>
                                                <option value=" <%= uf.ufId %>"><%= uf.uf%></option>
                                            <%}) %>
                                        </select>
                                        <span class="text-danger" id="msg-uf"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3 mt-3">
                                <label class="form-label fw-bold" id="lbPerfil">Tipo de Perfil</label>
                                <div class="col-md-12 d-flex gap-4"> 
                                    <div class="form-check">
                                        <input class="form-check-input border border-2 border-primary" type="checkbox" id="checkCliente">
                                        <label class="form-check-label" for="checkCliente">Cliente</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input border border-2 border-primary" type="checkbox" id="checkFornecedor" disabled>
                                        <label class="form-check-label" for="checkFornecedor">Fornecedor</label>
                                    </div>
                                </div>
                                <span class="text-danger" id="msg-perfil"></span>
                            </div>
                            <span class="text-danger" id="msg-pessoa"></span>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-success bg-green200" id="btnCadastrar">Cadastrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalPessoaAlt">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase text-green100 text-center w-100 fs-3">Editar Cadastro de Pessoa</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container mt-3">
                            <input type="hidden" id="idPessoaAlt">
                            <input type="hidden" id="tipoPessoaAlt"> <div id="camposPFAlt" style="display:none;">
                                <h5 class="mt-3">Dados Pessoa Física</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control text-uppercase" id="nomeAlt" placeholder="Nome" required>
                                            <label for="nomeAlt">Nome Completo</label>
                                            <span class="text-danger" id="msg-nomeAlt"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="cpfAlt" placeholder="CPF" readonly style="background-color: #e9ecef;">
                                            <label for="cpfAlt">CPF</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-floating mb-3">
                                            <input type="date" class="form-control" id="dtNascimentoAlt">
                                            <label for="dtNascimentoAlt">Data de Nascimento</label>
                                            <span class="text-danger" id="msg-dtNascimentoAlt"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="camposPJAlt" style="display:none;">
                                <h5 class="mt-3">Dados Pessoa Jurídica</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="cnpjAlt" placeholder="CNPJ" readonly style="background-color: #e9ecef;">
                                            <label for="cnpjAlt">CNPJ</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control text-uppercase" id="razaoSocialAlt" placeholder="Razão Social">
                                            <label for="razaoSocialAlt">Razão Social</label>
                                            <span class="text-danger" id="msg-razaoAlt"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control text-uppercase" id="nomeFantasiaAlt" placeholder="Nome Fantasia">
                                    <label for="nomeFantasiaAlt">Nome Fantasia</label>
                                    <span class="text-danger" id="msg-fantasiaAlt"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-floating mb-3">
                                        <input type="tel" class="form-control" id="telefoneAlt" placeholder="Telefone">
                                        <label for="telefoneAlt">Celular</label>
                                        <span class="text-danger" id="msg-telefoneAlt"></span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control text-lowercase" id="emailAlt" placeholder="Email">
                                        <label for="emailAlt">Email</label>
                                        <span class="text-danger" id="msg-emailAlt"></span>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <h5 class="mt-4">Endereço</h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="cepAlt" placeholder="CEP" maxlength="9">
                                        <label for="cepAlt">CEP</label>
                                        <span class="text-danger" id="msg-cepAlt"></span>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="logradouroAlt" placeholder="Logradouro">
                                        <label for="logradouroAlt">Logradouro / Rua</label>
                                        <span class="text-danger" id="msg-logradouroAlt"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="numeroAlt" placeholder="Número">
                                        <label for="numeroAlt">Número</label>
                                        <span class="text-danger" id="msg-numeroAlt"></span>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="bairroAlt" placeholder="Bairro">
                                        <label for="bairroAlt">Bairro</label>
                                        <span class="text-danger" id="msg-bairroAlt"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="cidadeAlt">
                                            <option value="" selected disabled>Cidade</option>
                                            <% listaCidade.map(function(cidade){ %>
                                                <option value="<%= cidade.cidadeId %>"><%= cidade.cidade %></option>
                                            <% }) %>
                                        </select>
                                        <span class="text-danger" id="msg-cidadeAlt"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="ufAlt">
                                            <option value="" selected disabled>UF</option>
                                            <% listaUf.map(function(uf){ %>
                                                <option value="<%= uf.ufId %>"><%= uf.uf %></option>
                                            <% }) %>
                                        </select>
                                        <span class="text-danger" id="msg-ufAlt"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3 mt-3">
                                <label class="form-label fw-bold">Tipo de Perfil</label>
                                <div class="col-md-12 d-flex gap-4"> 
                                    <div class="form-check">
                                        <input class="form-check-input border border-2 border-primary" type="checkbox" id="checkClienteAlt">
                                        <label class="form-check-label" for="checkClienteAlt">Cliente</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input border border-2 border-primary" type="checkbox" id="checkFornecedorAlt">
                                        <label class="form-check-label" for="checkFornecedorAlt">Fornecedor</label>
                                    </div>
                                </div>
                            </div>
                            <span class="text-danger" id="msg-pessoaAlt"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success bg-green200" id="btnAlterar">Salvar Alterações</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalPessoaDel">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmar Exclusão</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> 
                    <div class="modal-body">
                        <p>Você tem certeza que deseja excluir esta pessoa?</p>
                        <p><strong>Nome:</strong> <span id="nomeExclusao"></span></p>
                        <input type="hidden" id="idPessoaExcluir">
                    </div> 
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="btnConfirmarExclusao">Excluir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>