<script src="/js/ordemServico/gerenciarOrdemservico.js"></script>
<link rel="stylesheet" href="/css/ordemServico/ordemServico.css">
<div class="d-flex">
    <aside class="sidebar d-flex flex-column">
        <ul class="nav flex-column flex-grow-1">
            <li class="nav-item">
                <a class="nav-link" href="../admin"><i class="fa-solid fa-house fa-fw"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#"><i class="fa-solid fa-clipboard-list fa-fw"></i>Ordem de Serviço</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/produto"><i class="fa-solid fa-boxes-stacked fa-fw"></i>Produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../servico"><i class="fa-solid fa-list fa-fw"></i> Serviços</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../equipamento"><i class="fa-solid fa-wrench fa-fw"></i> Equipamentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../marca"><i class="fa-solid fa-tags fa-fw"></i> Marcas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../pessoa"><i class="fa-solid fa-user fa-fw"></i> Pessoas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../funcionario"><i class="fa-solid fa-user fa-fw"></i> Funcionários</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/relatorio"><i class="fa-solid fa-folder-open fa-fw"></i> Relatorios</a>
            </li>
            <hr />
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-user fa-fw"></i> Sair</a>
            </li>
        </ul>
    </aside>
    <div class="container-fluid flex-grow-1 p-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="text-uppercase text-green100">Ordem de Serviço</h1>
            <a href="#" class="btn btn-success text-uppercase bg-green200" data-bs-toggle="modal"
                data-bs-target="#modalOrdemServico"><i class="fa-solid fa-plus"></i>Novo</a>
        </div>
        <hr>
        <div class="table-responsive" style="margin-top: 15px;">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Código da Ordem</th>
                        <th>Cliente</th>
                        <th>Serviço</th>
                        <th>Data de Abertura</th>
                        <th>Data de Fechamento</th>
                        <th>Valor</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!--aqui sera os dados-->
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="modalOrdemServico">
            <div class="modal-dialog modal-dialog-centered modal-lg"><!--aqui vai o do modal-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Cadastro de Ordens de Servicos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3 dropdown-search">
                            <button class="btn btn-outline-primary w-100 dropdown-toggle" type="button" id="PessoaBtn">
                                Selecionar o Cliente
                            </button>
                        </div>
                        <div class="mb-3 dropdown-menu p-2" id="PessoaMenu" style="width: 96%;">
                            <input type="text" class="form-control search-input mb-2" placeholder="Pesquisar cliente..."
                                id="pesquisaPessoa">
                            <div id="dropPessoaItem"></div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nomePessoa" placeholder="Cliente selecionado"
                                readonly>
                            <label for="nomePessoa">Cliente selecionado</label>
                            <input type="hidden" name="pessoaId" id="pessoaId" required>
                        </div>
                        <div class="mb-3 endereco-container d-none">
                            <label for="cepPessoa">CEP:</label>
                            <input type="text" class="form-control mb-2" id="cepPessoa" placeholder="CEP" readonly>
                            <label for="logradouroPessoa">Logradouro:</label>
                            <input type="text" class="form-control mb-2" id="logradouroPessoa" placeholder="Logradouro"
                                readonly><!--campo de leitura nao pode ser editado e vai ser usado para enviar esses dados para o pedido da ordem dps-->
                            <label for="bairroPessoa">Bairro:</label>
                            <input type="text" class="form-control mb-2" id="bairroPessoa" placeholder="Bairro"
                                readonly>
                            <label for="cidadePessoa">Cidade:</label>
                            <input type="text" class="form-control mb-2" id="cidadePessoa" placeholder="Cidade"
                                readonly>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input border border-2 border-primary" type="checkbox"
                                id="checkServico">
                            <label class="form-check-label" for="checkServico">
                                Selecione os serviços utilizados:
                            </label>
                        </div>

                        <div id="divServico" class="form-floating mb-3" style="display: none;">
                            <label class="form-label mt-3">Serviços utilizados:</label> <br>

                            <div class="container border rounded p-3">
                                <div class="row">
                                    <% listaServicos.map(function(servico) { %>
                                        <div class="col-md-4">
                                            <div class="d-flex align-items-center gap-2 mt-3">
                                                <input
                                                    class="form-check-input border border-2 border-primary servico-checkbox"
                                                    type="checkbox" data-id="<%= servico.servicoId %>"
                                                    value="<%= servico.servicoId %>">

                                                <label class="form-check-label fw-bold mb-0">
                                                    <%= servico.servicoDesc %>
                                                </label>

                                                <!-- <div id="serv-wrapp<%=// servico.servicoId %>" style="display: none;">
                                                    <input type="number"
                                                        class="form-control form-control-sm border border-2 border-secondary"
                                                        id="serv-quant<%=// servico.servicoId %>" style="width: 60px;"
                                                        min="1" value="1">
                                                </div> -->
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>
                        </div>


                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="descricaoOS"
                                placeholder="Descriçao da Ordem de serviço">
                            <label for="descricaoOS">Descriçao da Ordem de serviço</label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input border border-2 border-primary" type="checkbox"
                                id="checkEquipamento">
                            <label class="form-check-label" for="checkEquipamento">
                                Foram utilizados equipamentos?
                            </label>
                        </div>

                        <div id="divEquipamento" class="form-floating mb-3" style="display: none;">
                            <label class="form-label mt-3">Equipamentos utilizados:</label> <br>

                            <div class="container border rounded p-3">
                                <div class="row">
                                    <% listaEquipamentos.map(function(equipamento) { %>
                                        <div class="col-md-4">
                                            <div class="d-flex align-items-center gap-2 mt-3">
                                                <input
                                                    class="form-check-input border border-2 border-primary equipamento-checkbox"
                                                    type="checkbox" data-id="<%= equipamento.equipamentoId %>"
                                                    value="<%= equipamento.equipamentoId %>">
                                                <label class="form-check-label fw-bold mb-0">
                                                    <%= equipamento.equipamentoNome %>
                                                </label>
                                                <div id="equip-wrapp<%= equipamento.equipamentoId %>"
                                                    style="display: none;">
                                                    <input type="number"
                                                        class="form-control form-control-sm border border-2 border-secondary"
                                                        id="equip-quant<%= equipamento.equipamentoId %>"
                                                        style="width: 60px;" min="1" value="1">
                                                </div>

                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input border border-2 border-primary" type="checkbox"
                                id="checkProdutos">
                            <label class="form-check-label" for="checkProdutos">
                                Foram utilizados produtos?
                            </label>
                        </div>

                        <div id="divProdutos" class="form-floating mb-3" style="display: none;">
                            <label class="form-label mt-3">Produtos utilizados:</label> <br>

                            <div class="container border rounded p-3">
                                <div class="row">
                                    <% listaProdutos.map(function(produto) { %>
                                        <div class="col-md-4">
                                            <div class="d-flex align-items-center gap-2 mt-3">
                                                <input
                                                    class="form-check-input border border-2 border-primary produto-checkbox"
                                                    type="checkbox" data-id="<%= produto.produtoId %>"
                                                    value="<%= produto.produtoId %>">
                                                <label class="form-check-label fw-bold mb-0">
                                                    <%= produto.produtoNome %>
                                                </label>
                                                <div id="prod-wrapp<%= produto.produtoId %>" style="display: none;">
                                                    <input type="number"
                                                        class="form-control form-control-sm border border-2 border-secondary"
                                                        id="prod-quant<%= produto.produtoId %>" style="width: 60px;"
                                                        min="1" value="1">
                                                </div>

                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>
                        </div>


                        <!--FAZER O FINAL O VALOR TOTAL DA ORDEM-->


                        <span class="text-danger" id="msg-OrdemServico"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success bg-green200" id="btnCadastrar">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>